# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DB_TYPE="COCKROACHDB" # D1 | COCKROACHDB | POSTGRESQL

# 参考：https://hono.dev/examples/prisma → https://console.prisma.io/
DATABASE_URL="prisma://accelerate.pr***"
DIRECT_URL="postgresql://***"


# 1.まずは.envファイルを作成する
# `cp .env.example .env`

# 2.wranglerコマンドではvarsファイルが必要なので当該ファイルのシンボリックリンクを作成する
# `ln -s .env .dev.vars`